:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    padding-left: 50px;
}

.containerDiv {
    margin: 100px 10px 10px 10px;
}

.drawBorder {
    border: 1px solid #DDDDDD;
    margin-right: 15px;
}

.tableStyle{
    max-width: 75%;
    padding-left: 10px;
}

.rowLeft {
    text-align: left;
    width: 200px;
    padding-top: 5px;
    font-weight: normal;
}

.rowRight {
    text-align: left;
    padding-top: 5px;
}

.bold {
    font-weight: bold;
}

.div-inline{
    display:inline-block;
}
